<div class="pl-dataframe-complete-element">
    <p> Consider the following dataframe:</p>
    <pl-dataframe params-name="input_df" show-dimensions="false" digits="4"></pl-dataframe>
    <p> What will be the value of the dataframe after running the following code:</p>
    <pl-code language="python">{{pivot_code}}</pl-code>
    <pl-dataframe params-name="columns" show-dimensions="false" show-index="false" show-header="false" digits="4"></pl-dataframe>
    <pl-dataframe params-name="index" show-dimensions="false" show-index="false" show-header="false" digits="4"></pl-dataframe>
    <p>The actual answer is: </p>
    <pl-dataframe params-name="pivoted_df" show-dimensions="false" digits="4"></pl-dataframe>
     <p>Distractor is: </p>
    <pl-dataframe params-name="distractor_df" show-dimensions="false" digits="4"></pl-dataframe>
</div>
