{{#question}}
  <p> Consider the following dataframe:</p>
  {{{frame_html}}}

  <p> What will be the value of the dataframe after running the following code:</p>
  <pl-code language="python">
  {{{operation}}}
  </pl-code>

  <input id="{{dataframe_name}}-input" type="hidden" name="{{dataframe_name}}-input" value="this is empty"/>
  <script>
    var dataframe_name = "{{dataframe_name}}";
  </script>
{{/question}}

