{{#question}}
  {{{frame_html}}}
  <input id="{{answer_name}}-input" type="hidden" name="{{answer_name}}-input" value="this is it!"/>

  <script>
    var answer_name = "{{answer_name}}";
  </script>
{{/question}}

