{{#question}}
{{{frame_html}}}
<p> Drag and drop the columns or rows so that the shape of dataframe looks like "answer_df"</p>
<pl-code language="python">{{{operation}}}</pl-code>

<input id="{{dataframe_name}}-input" type="hidden" name="{{dataframe_name}}-input" value="this is empty"/>
<script>
  var dataframe_name = "{{dataframe_name}}";
</script>
{{/question}}

