{{#question}}
        <script>
            var uuid = "{{uuid}}";
            var num_row_dropzone = parseInt("{{num_row_dropzone_val}}");
            var num_index = 1;
            var is_multicol = "True" === "{{is_multicol}}";
        </script>
        <div class="container column-box">
            <h2>Choose answer column here</h2>
            {{#column_set}}
            <div class="row col-set" id="{{uuid}}" data-order="{{order_col}}">
                {{#column}}
                <div class="col-md-{{{width}}} col-cell">{{{inner_html}}}</div>
                {{/column}}
                {{#is_ellipsis}}
                <div class="col-md-{{{width}}} col-cell">...</div>
                {{/is_ellipsis}}
            </div>
            {{/column_set}}
        </div>

        <div class="container index-box">
            <h2>Choose answer index here</h2>
            <div class="row">
                {{#indice_set}}
                <div class="col-md-{{{width}}}">
                    <div class="index-set" id="{{uuid}}" data-order="{{order_index}}">
                        {{#index}}
                        <div class="row">
                            <div class="col-md-12 index-cell">{{{inner_html}}}</div>
                        </div>
                        {{/index}}
                        {{#is_ellipsis}}
                        <div class="row">
                            <div class="col-md-12 index-cell">...</div>
                        </div>
                        {{/is_ellipsis}}
                    </div>
                </div>
                {{/indice_set}}
            </div>

        </div>

        <div class="container row-box">
            <h2>Choose answer row here</h2>
            
            <div class="row">
                {{#row_set}}
                <div class="col-md-{{{width}}}">
                    <div class="row-set" id="{{uuid}}" data-order="{{order_row}}">
                        <div class="row">
                            <div class="col-md-12 row-cell">&nbsp</div>
                        </div>
                        {{#row}}
                        <div class="row">
                            <div class="col-md-12 row-cell">{{{inner_html}}}</div>
                        </div>
                        {{/row}}
                        {{#is_ellipsis}}
                        <div class="row">
                            <div class="col-md-12 row-cell">...</div>
                        </div>
                        {{/is_ellipsis}}
                    </div>
                </div>
                {{/row_set}}
            </div>
        </div>

        <div class="container drop-zone">
            <h2>Drop your answer here</h2>
            <div class="row">
                {{#num_col}}
                <div class="col-md-{{{width}}} drop-zone-col" col_order="0">Column</div>
                {{/num_col}}
            </div>
            {{#is_multicol}}
            <div class="row">
                {{#num_col}}
                <div class="col-md-{{{width}}} drop-zone-col" col_order="1">Column</div>
                {{/num_col}}
            </div>
            {{/is_multicol}}
            {{#num_row}}
            <div class="row">
                <div class="col-md-{{{width}}} drop-zone-index">Index</div>
                {{#num_row_dropzone}}
                <div class="col-md-{{{width}}} drop-zone-row" order="{{{order_zone}}}">&nbsp</div>
                {{/num_row_dropzone}}
            </div>
            {{/num_row}}
        </div>

        <input id="{{uuid}}-input" type="hidden" name="{{uuid}}-input" value="{&quot;column&quot;:null,&quot;index&quot;:null}"/>

        <div class="container reset-button">
            <div class="row">
                <div class="col-md-12">
                    <button class="bg-primary text-white" type="button" id="unique">Reset dataframe</button>
                </div>
            </div>
        </div>
{{/question}}

