{{#question}}
        <script>
            var uuid = "{{uuid}}";
            var num_row = parseInt("{{num_row_for_val}}");
            var num_index = 3;
            var is_multicol = "True" == "{{is_multicol}}";
        </script>
        <div class="container column-box">
            <h2>Choose answer column here</h2>
            {{#column_set}}
            <div class="row col-set" id="{{uuid}}" data-order="{{order_col}}">
                {{#column}}
                <div class="col-md-2 my-col">{{{inner_html}}}</div>
                {{/column}}
                {{#is_ellipsis}}
                <div class="col-md-2 my-col">...</div>
                {{/is_ellipsis}}
            </div>
            {{/column_set}}
        </div>

        <div class="container index-box">
            <h2>Choose answer index here</h2>
            <div class="row">
                {{#indice_set}}
                <div class="col-md-2">
                    <div class="index" id="{{uuid}}" data-order="{{order_index}}">
                        {{#index}}
                        <div class="row">
                            <div class="col-md-12 my-col">{{{inner_html}}}</div>
                        </div>
                        {{/index}}
                        {{#is_ellipsis}}
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                        {{/is_ellipsis}}
                    </div>
                </div>
                {{/indice_set}}
            </div>

        </div>

        <div class="container row-box">
            <h2>Choose answer row here</h2>
            
            <div class="row">
                {{#row_set}}
                <div class="col-md-2">
                    <div class="index" id="{{uuid}}" data-order="{{order_row}}">
                        <div class="row">
                            <div class="col-md-12 my-col">&nbsp</div>
                        </div>
                        {{#row}}
                        <div class="row">
                            <div class="col-md-12 my-col">{{{inner_html}}}</div>
                        </div>
                        {{/row}}
                        {{#is_ellipsis}}
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                        {{/is_ellipsis}}
                    </div>
                </div>
                {{/row_set}}
            </div>
        </div>

        <div class="container drop-zone">
            <div class="row drop-zone-col">
                    {{#num_col}}
                    <div class="col-md-2 drop-col">Column</div>
                    {{/num_col}}
            </div>
            <div class="row">
                <div class="col-md-2 drop-zone-index">
                    {{#num_row}}
                    <div class="row">
                        <div class="col-md-12 drop-index">Index</div>
                    </div>
                    {{/num_row}}
                </div>
                {{#num_col_row}}
                <div class="col-md-2 drop-zone-row" order={{order_col}}>
                    {{#num_row}}
                    <div class="row">
                        <div class="col-md-12 drop-row">&nbsp</div>
                    </div>
                    {{/num_row}}
                </div>
                {{/num_col_row}}
            </div>
        </div>

        <input id="{{uuid}}-input" type="hidden" name="{{uuid}}-input" value="{&quot;inner_html&quot;:null,&quot;index&quot;:null}"/>

        <div class="container reset-button">
            <div class="row">
                <div class="col-md-12">
                    <button class="bg-primary text-white" type="button" id="unique">Reset dataframe</button>
                </div>
            </div>
        </div>
{{/question}}

