{{#question}}
        <div class="container column-box">
            <h2>Choose answer column here</h2>
            <div class="row col-set">
                <div class="col-md-2 my-col">Item</div>
                <div class="col-md-2 my-col">A</div>
                <div class="col-md-2 my-col">B</div>
                <div class="col-md-2 my-col">C</div>
                <div class="col-md-2 my-col">D</div>
                <div class="col-md-2 my-col">...</div>
            </div>
            <div class="row col-set">
                <div class="col-md-2 my-col">Item</div>
                <div class="col-md-2 my-col">X</div>
                <div class="col-md-2 my-col">Y</div>
                <div class="col-md-2 my-col">Z</div>
                <div class="col-md-2 my-col">W</div>
                <div class="col-md-2 my-col">...</div>
            </div>
            <div class="row col-set">
                <div class="col-md-2 my-col">Item</div>
                <div class="col-md-2 my-col">1</div>
                <div class="col-md-2 my-col">2</div>
                <div class="col-md-2 my-col">3</div>
                <div class="col-md-2 my-col">4</div>
                <div class="col-md-2 my-col">...</div>
            </div>
            <!--Place more row as the author wants to add choice-->
        </div>

        <div class="container index-box">
            <h2>Choose answer index here</h2>
            <div class="row">
                <div class="col-md-2">
                    <div class="index" draggable="true">
                        <div class="row">
                            <div class="col-md-12 my-col">Category</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">A</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">B</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">C</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">D</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="index">
                        <div class="row">
                            <div class="col-md-12 my-col">Category</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">X</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">Y</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">Z</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">W</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                    </div>
                </div>
                <!--Place more row as the author wants to add choice-->
            </div>

        </div>

        <div class="container row-box">
            <h2>Choose answer row here</h2>
            
            <div class="row">
                <div class="col-md-2">
                    <div class="index">
                        <div class="row">
                            <div class="col-md-12 my-col">&nbsp</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">21</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">17</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">24</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">53</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="index">
                        <div class="row">
                            <div class="col-md-12 my-col">&nbsp</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">21</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">22</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">22</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">22</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-col">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container drop-zone">
            <div class="row drop-zone-col">
                    <div class="col-md-2 drop-col">Column</div>
                    <div class="col-md-2 drop-col">Column</div>
                    <div class="col-md-2 drop-col">Column</div>
                    <div class="col-md-2 drop-col">Column</div>
                    <div class="col-md-2 drop-col">Column</div>
                    <div class="col-md-2 drop-col">Column</div>
            </div>
            <div class="row">
                <div class="col-md-2 drop-zone-index">
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">Index</div>
                    </div>
                </div>
                <div class="col-md-2 drop-zone-row">
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                </div>
                <div class="col-md-2 drop-zone-row">
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                </div>
                <div class="col-md-2 drop-zone-row">
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                </div>
                <div class="col-md-2 drop-zone-row">
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                </div>
                <div class="col-md-2 drop-zone-row">
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 drop-col">&nbsp</div>
                    </div>
                </div>
            </div>
        </div>

        <input id="{{dataframe_name}}-input" type="hidden" name="{{dataframe_name}}-input" value="this is empty"/>
{{/question}}

